@use "variables";
@use "buttons";
@use "sass:color";

.cart {
  position: fixed;
  bottom: -1px;
  left: 0;
  background-color: variables.$dropdownRed;
  width: 100vw;
  @include variables.flexContainer();
  align-items: center;
  z-index: 99999;
  box-shadow: 0 -0.2em 0.51em variables.$fontDark;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  * {
    color: variables.$fontLight;
  }

  .cart-dropdown {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 100%;
    background-color: variables.$darkRed;
    @include variables.flexContainer();
    box-shadow: variables.$boxShadow;

    img {
      cursor: pointer;
      padding: 0.5em;
      margin: 0 auto;
      transition: all 300ms;
      transform: rotateZ(180deg);
    }

    .active {
      transform: rotateZ(0);
    }

    .cart-headline {
      width: 100%;
      padding: 1em;
      @include variables.flexContainer(row);
      justify-content: space-between;
    }
  }

  .closed-cart {
    display: none;
    max-height: 0%;
    position: fixed;
  }

  .active-cart {
    width: 100%;
    @include variables.flexContainer();
    max-height: 94vh;
    overflow-y: auto;
    z-index: 1000;
  }

  .remove-all {
    align-self: flex-end;
    padding: 1em 3em 0 0;
    font-size: 0.8em;
    color: color.scale(variables.$lockColor, $lightness: 20%);
    cursor: pointer;
    transition: all 400ms;
    &:hover {
      color: color.scale(variables.$yellowSenap, $lightness: 20%);
    }
  }

  .cart-item {
    position: relative;
    padding: 1em;
    padding-top: 2em;
    width: 90%;
    margin: 0 auto;
    @include variables.flexContainer(row);
    justify-content: space-between;
    gap: 1em;

    .remove-item {
      width: 1em;
      height: 1em;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      cursor: pointer;
      transition: all 400ms;
      transform: rotateZ(0);
      &:hover {
        scale: 105%;
        transform: rotateZ(90deg);
      }
    }

    .item-price {
      text-align: end;
    }
    :first-child {
      flex: 3;
    }
    * {
      flex: 1;
      align-self: center;
      justify-self: flex-end;
    }

    select,
    option {
      color: variables.$fontDark;
    }
  }
  .divider {
    @include variables.divider();
  }

  .total-price {
    width: 100%;
    padding: 1em 2em;
    text-align: end;
  }

  .button-container {
    @include variables.flexContainer(row);
    width: 100%;
    margin-bottom: 1em;
    .btn-cancel {
      @include buttons.bigBtn(
        $pad: 0.6em 2em,
        $bg: color.scale(variables.$dropdownRed, $lightness: 20%)
      );
      margin: 0 auto;
    }

    .btn-checkout {
      @include buttons.bigBtn(
        $pad: 0.6em 2em,
        $bg: color.scale(variables.$dropdownRed, $lightness: 40%)
      );
      margin: 0 auto;
    }
  }
}

.active-cart {
  transform: translateY(0%);
}

@media screen and (min-width: 786px) {
  .cart {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    .cart-item {

      :first-child {
        flex: 7;
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .cart{
    margin-right:5%;
    max-width: 20%;
  }
  }