@use "variables";
@use "buttons";

.checkout-wrapper {
  @include variables.flexContainer();
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 12vh;
  gap: 2em;
  width: 100%;
  background-color: variables.$primaryBackground;
  .loading {
    @include variables.loader();
  }

  .divider {
    @include variables.divider;
  }

  .checkout-header--text {
    @include variables.headerTitle();
  }

  .current-order {
    @include variables.flexBox;
    flex-direction: column;
    @include variables.sectionTop($bg: variables.$dropdownRed);
    margin:0 1em;

    .order-top {
      width: 100%;
      max-width: 1800px;
      @include variables.sectionTop;
      font-size: 1.4em;
      padding: 1em;
      font-weight: 700;
      
    }
    .cartmodule {
      width: 100%;
      .cart-item {
        padding: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;

        .item-name {
          font-size: 1em;
          flex: 2;
        }

        .item-price {
          text-align: right;
          font-size: 1em;
          flex: 1;
        }
      }
    }

    .total-wrapper {
      padding: 1em 1em 1em 0.5em;
      width: 100%;
      display: flex;
      flex-direction: row;
      font-size: 1.4em;
      margin-top: 1em;
      .total {
        width: 100%;
        margin-left: 0.5em;
      }
      .total-sum {
        text-align: right;
        align-self: flex-end;
        width: 100%;
      }
    }
  }
  .LoggedIn {
    @include variables.flexBox;
    flex-direction: column;
    margin:0 1em;
    margin-bottom: 3em;

    .Account-info {
      width: 100%;
      @include variables.flexBox;
      flex-direction: column;
      @include variables.sectionTop($bg: variables.$dropdownRed);
      margin-bottom: 2em;

      .Account-top {
        width: 100%;
        max-width: 1800px;
        @include variables.sectionTop;
        font-size: 1.4em;
        font-weight: 700;
        padding: 1em;
      }
      .Account-info-main {
        width: 100%;
        font-size: 1em;
        padding: 1em 1em 1em 0.5em;

        .User-info {
          @include variables.flexBox;
          padding: 1em;
          justify-content: space-between;
          width: 100%;
          align-self: flex-end;
        }
      }
    }
  }
  .Comment-wrapper {
    width: 100%;
    @include variables.flexBox;
    flex-direction: column;
    @include variables.sectionTop($bg: variables.$dropdownRed);
    margin-bottom: 3em;

    .Comment-top {
      width: 100%;
      max-width: 1800px;
      @include variables.sectionTop;
      font-size: 1.4em;
      font-weight: 700;
      padding: 1em;
    }

    .input-comment {
      margin: 1em;
      width: 95%;
      height: 12em;
      font-size: 1em;
    }
  }
  .buttonsDiv {
    @include variables.flexContainer;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;

    .back-btn {
      @include buttons.bigBtn(
        $bg: variables.$primaryBackground,
        $fontcolor: variables.$fontDark
      );
    }

    .order-btn {
      @include buttons.bigBtn(
        $bg: variables.$acceptBtnGreen,
        $fontcolor: variables.$fontDark
      );
    }
  }
}

@media screen and (min-width: 786px) {
  .checkout-wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

