@use "variables";
@use "buttons";

.error {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  background-image: url("../assets/error.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 6em);

  .back-btn {
    @include buttons.smallBtn($pad: 1em 1em, $bg: transparent);
  }
}
