@use 'variables';
@use 'buttons';

.error {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    background-image: url('../assets/error.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;

    .back-btn {
        @include buttons.smallBtn($pad: 1em 1em, $bg: transparent)
    }

}
