@use 'buttons';

div .menu-wrapper {
    margin: 0;
}

.admin_button--container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4rem;
    height: 4rem;
    .admin-buttonSmall {
        @include buttons.smallBtn();
    }
}