@use "buttons";
@use "variables";
@use 'sass:color';

.admin_page--wrapper {
    width: 100%;
    @include variables.flexContainer();
    padding: 0 1em;
    gap: 2em;

    .loading {
        @include variables.loader();
    }
    .admin-buttonSmall {
        align-self: flex-end;
        @include buttons.smallBtn();
    }
    
    .menu-header {
        @include variables.headerTitle();
    }


    .search-container {
        @include variables.flexContainer(row);
        box-shadow: variables.$boxShadow;
        input {
          flex: 5;
          outline: none;
        }
        label {
          color: variables.$fontLight;
          flex: 1;
          padding: 0.4em 0;
          text-align: center;
          background-color: variables.$lockColor;
          transition: all 300ms;
          &:hover {
            background-color: color.scale(
              variables.$lockColor,
              $lightness: 40%
            );
          }
        }
      }

      .search-order {
        @include variables.flexContainer(row);
        justify-content: space-between;
        padding: 0 1em;
        p {
            cursor: pointer;
        }
      }

    .user-orders {
        .orderlist {

            .single-order {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1em;
                border-bottom: 1.5px solid black;

                .single-order__left {
                    @include variables.flexContainer();
                    gap: 1em;
                    flex: 1;
                    cursor: pointer;

                    .single-order__id {

                        display: flex;

                        p {
                            margin-top: 1em;
                        }
                        .person {
                            font-size: 0.8em;
                            margin-top: 0;
                        }

                        img {
                            margin: 0.9em 0 0 1em;
                            height: fit-content;
                            transition: all 300ms;
                        }
                        .check-message {
                            scale: 120%;
                        }

                    }
    
                }
                .single-order__locks {
                    margin: 0.8em 1.5em;
                    align-self: center;
                    position: relative;
                    img {
                        cursor: pointer;
                    }
                }

                

                .single-order__bottom {
      
                    p {
                        margin: 0 0 1em 0.5em;
                    }
                }

            }

            .accordian-header {

                .order-symbol {
                    margin-left: auto;
                }

            }

        }

    }

}

@media screen and (min-width: 786px) {
    .admin_page--wrapper { 
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 3em;
        background-color: variables.$primaryBackground;
 
        .search-container {
            input {
                flex: 9;
            }
        }
    }
}
