@use "variables";
@use "buttons";
@use "sass:color";

.landing {
  width: 100%;
  background-color: variables.$primaryBackground;
  
  .hero {
    min-height: 100vh;
    min-width: 100%;
    position: relative;
    display: grid;
    place-items: center;  
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      z-index: 10;
    }
    .video-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 11;
    } 
    video::-webkit-media-controls {
      display: none;
    }



    .logo-container {
      z-index: 12;
      @include variables.flexContainer(row);
      gap: 0.4em;
      h2 {
        color: variables.$fontLight;
        font-size: 3em;
      }
      .logo {
        animation: wiggle 1s infinite;
        height: 3em;
        width: 3em;
        align-self: center;
      }
      
      @keyframes wiggle {
        0% {
          transform: rotate(-5deg);
        }
        25% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(5deg);
        }
      
        75% {
          transform: rotate(0deg)
        }
      
        100% {
          transform: rotate(-5deg);
        }
      }

    }
    button {
      border: none;
      padding: 0.8em 2.5em;
      border-radius: 4px;
      box-shadow: variables.$boxShadow;
      color: variables.$fontDark;
      border: 1px solid variables.$fontLight;
      transition: all 1000ms;
      cursor: pointer;
      font-size: 2em;
      color: variables.$fontLight;
      background: transparent;
      font-family: variables.$headerFont;
      z-index: 12;
      position: relative;
      &:hover {
        border: 4px solid variables.$yellowSenap;
        color: variables.$yellowSenap;
        backdrop-filter: blur(10px);
        scale: 105%;
      }
    }
  }

  .about-page {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0;
      .about-us {
        background-color: variables.$fontDark;
        color: variables.$fontLight;
        grid-area: 1 / 1 / 2 / 6;
      }

      .about-us-img {
        grid-area: 2 / 1 / 2 / 6;
      }
    
      .our-food-img {        
        grid-area: 4 / 1 / 4 / 6;
      }
    
      .our-food {
        background-color: variables.$darkRed;
        color: variables.$fontLight;
        grid-area: 3 / 1 / 3 / 6;
      }
    
      .our-goal {
        background-color: black;
        color: variables.$fontLight;
        grid-area: 5 / 1 / 5 / 6; 
        
      }
    
      .our-goal-img {
        grid-area: 6 / 1 / 6 / 6;
      }
 
      & > figure {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat
      }
    
      & > section {
        @include variables.flexContainer();
        align-items: center;
        justify-content: center;
        gap: 2em;
        padding: 1em;
        font-weight: 300;
    
        .border {
          align-self: center;
          border-bottom: 1px solid variables.$yellowSenap;
          border-right: 1px solid variables.$yellowSenap;
          padding-right: 1em;
          margin-bottom: 0.5em;
        }
        
        h3 {
          font-family: variables.$headerFont;
        }
        p {
          line-height: 1.5em;
          padding: 0 2em;
        }
      }
        .map {
          grid-area: 7 / 1 / 7 / 6;
          iframe {
            width: 100%;
            margin-bottom: 1em;
            margin-top: 1em;
          }
        }
      
    } 
}


@media screen and (min-width: 786px) {
  .landing {
    .about-page {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 1fr);
      section, figure {
        min-height: 40vh;
      }
      .about-us {
        grid-area: 1 / 1 / 2 / 4;
      }
      .about-us-img {
        grid-area: 1 / 4 / 2 / 6;
      }

      .our-food-img {
        grid-area: 2 / 1 / 3 / 3;
      }

      .our-food {
        grid-area: 2 / 3 / 3 / 6;
      }

      .our-goal {
        grid-area: 3 / 1 / 4 / 4; 
      }

      .our-goal-img {
        grid-area: 3 / 4 / 4 / 6;
      }
      .map {
        grid-area: 4 / 1 / 5 / 6;
      }
 
    }
  }
}
