@use 'variables';

.order-item {                
    @include variables.flexContainer();
    justify-content: space-between;
    gap: 0.4em;
    .order-info {
        @include variables.flexContainer(row);
        justify-content: space-between;
        .item-name {
            flex: 4;
        }
        p {
            flex: 1;
        }                
    }
    .divider {
        width: 90%;
        height: 0.2em;
        background-color: variables.$fontLight;
        opacity: 60%;
        margin: 0 auto;
    }
}
