@use "variables";
@use "buttons";

.confirmed {
  margin-top: 12vh;
  @include variables.flexContainer();
  gap: 2em;
  color: variables.$fontLight;
  background-color: variables.$primaryBackground;
  width: 100%;
  padding-bottom: 2em;

  .headline {
    @include variables.headerTitle();
  }

  .time-container {
    margin: 0 1em;
    padding: 1em;
    background-color: variables.$dropdownRed;
    box-shadow: variables.$boxShadow;

    .open-text {
      font-weight: 500;
      text-align: center;
    }
  }

  .order-user {
    margin: 0 1em;
    @include variables.flexContainer();
    background-color: variables.$darkRed;
    box-shadow: variables.$boxShadow;
    .user-headline {
      align-self: center;
      padding: 1em;
      font-weight: 700;
    }

    .user {
      background-color: variables.$dropdownRed;
      @include variables.flexContainer();
      gap: 1em;
      padding: 1em;
    }
  }

  .order-cart {
    @include variables.flexContainer();
    background-color: variables.$dropdownRed;
    gap: 1em;
    margin: 0 1em;

    box-shadow: variables.$boxShadow;

    .order-header {
      @include variables.flexContainer();
      gap: 1em;
      padding: 1em;
      background-color: variables.$darkRed;
      box-shadow: variables.$boxShadow;
      .order-title {
        font-size: 1.4em;
        align-self: center;
      }
      .list-titles {
        @include variables.flexContainer(row);
        gap: 1em;
        justify-content: space-between;
        position: relative;

        p {
          flex: 1;
          text-align: start;
          font-weight: 700;
          &:first-child {
            flex: 4;
          }
        }
      }
    }
    .order-information {
      @include variables.flexContainer();
      padding: 0 1em;
      gap: 2em;
    }
    .order-price {
      @include variables.flexContainer(row);
      justify-content: space-between;
      padding: 1em;
      p {
        &:first-child {
          font-weight: 700;
        }
      }
    }
  }

  .change-order {
    align-self: center;
    color: variables.$fontDark;

    span {
      color: variables.$lockColor;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .order-comment {
    margin: 0 1em;
    box-shadow: variables.$boxShadow;
    p {
      padding: 0.4em;
      &:first-child {
        font-weight: 700;
        background-color: variables.$darkRed;
        box-shadow: variables.$boxShadow;
      }

      &:last-child {
        background-color: variables.$dropdownRed;
      }
    }
  }

  .location {
    @include variables.flexContainer(row);
    justify-content: space-between;
    align-self: center;
    text-align: center;
    width: 90%;
    padding: 1em;
    border: 1px solid variables.$fontDark;
    border-radius: 0.4em;
    background-color: variables.$fontLight;
    color: variables.$fontDark;
    box-shadow: variables.$boxShadow;

    div {
      text-align: start;
    }
  }

  iframe {
    align-self: center;
    width: 90%;
    box-shadow: variables.$boxShadow;
    border: none;
  }
  .delete-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 999999;
    display: grid;
    place-items: center;
    .delete-container {
      background-color: white;
      padding: 2em;
      box-shadow: variables.$boxShadow;
      border-radius: 0.6em;
      h3 {
        font-family: variables.$primaryFont;
        color: variables.$fontDark;
      }
      .btn-container {
        @include variables.flexContainer(row);
        justify-content: space-between;
        margin-top: 2em;
        .btn-cancel {
          @include buttons.bigBtn(
            $pad: 0.6em 2em,
            $bg: variables.$acceptBtnGreen
          );
        }

        .btn-delete {
          @include buttons.bigBtn($pad: 0.6em 2em, $bg: variables.$dropdownRed);
        }
      }
    }
  }
}
@media screen and (min-width: 786px) {
  .confirmed {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
