@use 'variables';

.user-orders {
    @include variables.flexContainer();
    gap: 3em;
    .headline {
        @include variables.headerTitle();
    }    

    .orderlist {
        @include variables.accordianHeader();
        @include variables.accordianMenu(variables.$primaryBackground, variables.$fontDark);

        .accordian-header {
            @include variables.flexContainer(row);
            justify-content: space-between;
            img {
                margin-right: 1em;
                transform-origin: center;
                transition: all 500ms;
            }
            .active-icon {
                transform: rotateZ(180deg);
            }
        }
        .single-order {
            @include variables.flexContainer(row);
            justify-content: space-between;
            padding: 1em;
            p {
                &:first-child {
                    cursor: pointer;
                }
            }
        }
    }
}