@use 'variables';
@use 'buttons';
@use 'sass:color';

.signup, .login, .login--checkout {
      width: 100%;
      height: calc(100vh - 6em);
      margin: 0 auto;
      @include variables.flexContainer();
      align-items: center;
      justify-content: center;
      gap: 3rem;
      .loading {
            @include variables.loader();
      }
      .small__btn {
            @include buttons.smallBtn();
            position: absolute;
            top: 1rem;
            left: 1rem;
      }
      .formLogo {       
            img {
                  width: 100%;
                  height: 100%;
            }
            box-shadow: variables.$boxShadow;
      }
            .userForm {
                  @include variables.flexContainer();
                  align-items: center;
                  justify-items: center;
                  gap: 3em;
                  .form--info {
                      position: relative;
                      display: flex;    
                  }
                  
                  .form__label {
                      position: absolute;

                      font-size: 1.2rem;
                      font-weight: 400;
                      transition: all 0.5s;    
                  }
                  
                  .form__input {
                      width: 100%;
                      background: transparent;
                      border: none;
                      border-bottom: 2px solid black;
                      outline: none;
                      font-size: 1.2rem;
                      z-index: 1;
                  }
                  
                  
                  .form__input:focus {
                      border-color: rgb(0, 0, 0);
                  }
                  
                  .form__input:focus ~ .form__label,
                  .form__input:not(:placeholder-shown)~ .form__label {
                      top: -20px;
                      left: 0;
                      font-size: 1rem;
                      color: rgb(0, 0, 0);
                  }
                  & > div {
                        @include variables.flexContainer();
                        align-items: center;
                        position: relative;
                        
                    }
                  .big__btn.signup__btn {
                        @include buttons.bigBtn($bg: #377395);
                        
                  }
                  
                  .button__container {
                        box-sizing: border-box;
                        @include variables.flexContainer(row);
                        justify-content: center;
                        max-height: 3em;

                        .big__btn.guest__btn {
                              @include buttons.bigBtn($bg: transparent, $pad: .432em .7em);
                              color: variables.$fontDark;
                              // width: 50%;
                              outline: 1px solid black;
                          }
                        .big__btn.login__btn {
                        @include buttons.bigBtn($bg: variables.$acceptBtnGreen);
                              width: 50%;
                        }
                  }
                  .big__btn.login__btn {
                  @include buttons.bigBtn($bg: variables.$acceptBtnGreen);

                  }

            }

}
.login--checkout {
      height: 100%;
}

@media screen and (min-width: 786px) {
      .userForm {
        max-width: 1000px;
        margin: 0 auto;
      }
}