@use 'variables';
@use 'buttons';
@use 'sass:color';

.userForm {
      width: 80vw;
      height: 100vh;
      margin: 0 auto;
      @include variables.flexContainer();
      align-items: center;
      justify-content: center;
      gap: 3rem;
      .loading {
            @include variables.loader();
      }
      .small__btn {
            @include buttons.smallBtn();
            position: absolute;
            top: 1rem;
            left: 1rem;
      }
      .formLogo {
            
            img {
                  width: 100%;
                  height: 100%;
            }
            // background-image: url('../assets/formLogo.svg');
            
            // background-size:contain ;
            // background-position: center;
            // background-repeat: no-repeat;


            box-shadow: variables.$boxShadow;

      }
            .form {
                  @include variables.flexContainer();
                  align-items: center;
                  justify-items: center;
                  gap: 3em;
                  .form--name, .form--email {
                      position: relative;
                      display: flex;    
                  }
                  
                  .form__label {
                      position: absolute;
                      top: -15px;
                      // left: 5px;
                      font-size: 1.2rem;
                      font-weight: 400;
                      transition: all 0.5s;    
                  }
                  
                  .form__input {
                      width: 100%;
                      background: transparent;
                      border: none;
                      border-bottom: 2px solid black;
                      outline: none;
                      font-size: 1.2rem;
                  }
                  
                  
                  .form__input:focus {
                      border-color: rgb(0, 0, 0);
                  }
                  
                  .form__input:focus ~ .form__label,
                  .form__input:not(:placeholder-shown)~ .form__label {
                      top: -20px;
                      left: 0;
                      font-size: 1rem;
                      color: rgb(0, 0, 0);
                  }
                  & > div {
                        @include variables.flexContainer();
                        align-items: center;
                        position: relative;
                        
                    }
                  .big__btn {
                        @include buttons.bigBtn($bg: #377395);
                  }
                  .big__btn .login__btn {
                        background-color: variables.$acceptBtnGreen;
                  }
            }

}
