@use '../../styles/variables';

.menu-wrapper {
    margin-top: 12vh;
    @include variables.flexContainer($dir: column);
    font-family: 'Rock Salt';
    background-color: variables.$primaryBackground;

    .menu-nav--container {
        margin-bottom: 4em;
    }

    .menu-header {
        @include variables.headerTitle()
    }

    .menu-header--category {
        display: flex;
        justify-content: space-evenly;
        box-shadow: 0 .25em .25em rgba(0, 0, 0, 0.25);
    }

    h2 {
        font-size: .8em;
    }

    .menu-topic {
        @include variables.headerTitle()
    }

}


.menu-header--container {
    margin-top: 2em;
    padding: 0 1em;
    .menu-header--info {
        display: flex;
        @include variables.flexBox($justify: center, $align: center);
        position: relative;
        margin: 0;
        img {
            width: 100vw;
        }
    }

    h2 {
        margin: 1.5em;
    }


    .menu-item {

        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 1em auto 2em auto;
        border-bottom: .1em solid #050505;

        p {
            font-family: 'Roboto';
            margin: .5em 0 .5em 0;
        }
    

        .menu-item--info {
            display: flex;

            .menu-item--right {
                display: flex;
                align-items: center;
                margin: 0 0 0 auto;
            }
    
            .menu-item--left {
    
                .menu-item--flex {
                    display: flex;
                    
                    img {
                        margin-left: 0.4em;
                    }
                }
    
            }
        }

        .menu-item--vector {
            width: 100%;
            bottom: 0;
            transform: translateY(.7em);

            .menu-item--img {
                display: flex;
                justify-content: center;
            }

            .rotated {
                transform: rotate(180deg);
            }

        }


        .menu-item--add {
            cursor: pointer;
            font-size: 1.6em;
            font-weight: 500;
        }

    }

}


.menu-header--info {

    .menu-header--text {
        position: absolute;
        background-color: variables.$yellowSenap;
        width: 50%;
        height: 50%;

        .menu-header--flex {
            display: flex;
            @include variables.flexBox($justify: center, $align: center);
            height: 100%;

        }
    }
}


.menu-header--container {
    .menu-title--text {
        .menu-title--margin {
            margin: 3em 0 0 1em;
        }
    }
}

@media screen and (min-width: 620px) {

    div .menu-wrapper {
        h1 {
            font-size: 1.6em;
        }
    }

    .menu-header--container {
        // width: 90%;
        .menu-subheader--text {
            margin-left: 4em;
            font-size: 1.5em;
        }
    }

    .menu-header--container {
        .menu-item {
            width: 55%;
        }
    }
}


