@use '../../styles/variables';

div .menu-wrapper {
    @include variables.flexContainer($dir: column);
    font-family: 'Rock Salt';
    background-color: variables.$primaryBackground;
}

.menu-header--container {
    margin-top: 1.5rem;
    .menu-header--info {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0;
        img {
            width: 100vw;
        }
    }
}


.menu-header--info {

    .menu-header--text {
        position: absolute;
        background-color: variables.$yellowSenap;
        width: 50%;
        height: 50%;

        .menu-header--flex {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
}

.menu-header--container {
    .menu-header--category {
        display: flex;
        justify-content: space-evenly;
        box-shadow: 0 .25em .25em rgba(0, 0, 0, 0.25);
    }
}

.menu-header--container {
    .menu-title--text {
        .menu-title--margin {
            margin-left: 1rem;
        }
    }
}




